.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #3d3d3d;
    width: 100vw;
    height: 6.5rem;
    padding-left: 1rem;
    padding-right: 3rem;
    font-size: 30px;
}
/* .logo{
    font-size: 20px;
    text-align: center;
} */
.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    list-style: none;
}
