.contacto {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;

}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 1rem;
  width: 50vw;
  padding-inline: 1.5rem;
}